*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.header-background{
    background-image: url('/images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 850px;
}
header{
    display: flex;
    justify-content: end;
    align-items: center;
}
.header-content{
    text-align: right;
    margin: 0px 220px;  
    width: 525px; 
}
.header-title{
    color: #151414;
    font-size: 65px;
    font-weight: 700;
}
.header-description{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: right;
    margin-top: 20px;
}
.contact-btn{
    border-radius: 5px;
    background: #F15B22; 
    padding: 20px 25px;
    border: 0px;
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    margin-top: 35px;
}

.person-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 320px;
    gap: 20px;
}
.person-content{
    margin-left: 50px;

}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }

.fa-solid{
    color: green; 
}
.person-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    width: 50%;
    margin-bottom: 30px;
}
.person-description{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 70%;
    margin-bottom: 20px;
}
.my-plans{
    margin: 100px 230px;
}
.all-plans{
    display: flex;
    justify-content: space-between;
}
.plans-title{
    color:  #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 55px;
    text-align: center;
}
.plans-image{
    width: 92.958px;
    height: 92.958px;
    flex-shrink: 0;
}
.plans-sector{
    color:  #151414;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
}
.plans-description{
    color: #737272;
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
}
.plans-details{
    text-align: center;
}
.callme-section{
    background-image: url('/images/watch.png'),url('images/gradient2.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 10px;
    border: 0px;
}
.callme-section{
    margin: 100px 220px;
}
.callme-title{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    width: 50%;
}
.call-btn{
    border-radius: 5px;
    background: #FFF; 
    padding: 25px 45px;
    border: 0px;
    color: #F15B22;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    margin-top: 35px;
}
.call-content{
    padding: 60px 65px;
}
footer{
    background: #151414;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 220px;
}
.sent-mail{
    display: block;
}
.future-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}
.future-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 25px;
    width: 50%;
}
.phone{
    margin-bottom: 20px;
    margin-top: 20px;
}
.subscribe{
    color: #FFF;
    font-size: 25px;
    font-weight: 600;  
}
.email-details{
    margin-top: 31px;
    
    padding: 18px 35px;
    border-radius: 7px;
    background-color: #151414;
    color: white;
    
}

